@{
    ViewBag.Title = "About";
}

<style>
    .profileRow {
        margin-bottom: 30px;
    }

    .bold {
        font-weight: bolder;
    }

    .paragraph {
        color: grey;
        margin-bottom: 15px;
    }

    .imgCircle {
        height: 200px;
        width: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    h4 {
        font-size: 20px;
    }
</style>

<div class="row">
    <div class="col-xs-12 text-center" style="margin-top: 45px;">
        <img src="~/Content/icons/icon-frogfoot-green-background.png" />
        <h2 style="color: green;">Who we are</h2>

        <div class="paragraph">
            Frogfoot Networks is a licensed open access fibre network provider. With 15 years
            experience in the telecoms industry and widely acknowledged for their technical excellence,
            Frogfoot intends to play a pivotal role in the growth of fibre to the business and home in
            South Africa.
        </div>

        <div class="paragraph">
            Funded by <span class="bold">Rand Merchant Bank (RMB)</span>, <span class="bold">Investec</span> and <span class="bold">Metier Capital</span>, group revenue
            exceeding R1 billion per annum, and one of the only true open access wholesale fibre
            network offerings in the market, Frogfoot is well positioned to build and maintain fibre
            networks that will enable service providers to acquire their own fibre backbones on a shared
            network.
        </div>

        <div class="paragraph">
            Having operated fibre networks throughout South Africa for years, Frogfoot understands the
            challenges of deploying and managing large fibre networks. Currently, the company has an
            extensive fibre footprint, with more than 5,000 buildings already linked to its network and a
            coverage area spanning more than 7,000 km2 in 5 regions.
        </div>

        <div class="paragraph" style="margin-bottom: 30px;">
            Fibre networks are at the heart of reliable, robust, high performance telecommunications
            services; you need a company that has a sound grasp of telecoms engineering principles
            and how to implement them, looking after those networks.
            <br />
            <br />
            Frogfoot is that kind of company.
        </div>
    </div>
</div>

<div class="row form-group" style="background: #00923E; color: white; padding-bottom: 30px;">
    <div class="col-xs-12">
        <h2 class="text-center" style="margin-top: 30px; margin-bottom: 30px;">Directors</h2>

        <div class="col-md-3 col-sm-6 form-group">
            <div class="imgCircle">
                <img src="~/Content/about/Abz_profile.png" style="width: 220px; margin-left: -10px; margin-top: -15px;" />
            </div>
            <h4>Abraham van der Merwe</h4>

            Abraham has co-founded and managed several successful
            companies in both telecommunications and electronic manufacturing
            industries. This includes Frogfoot Networks, Amobia
            Communications, Teraco Data Environments, Riberry
            Communications, and 4D Technology. Abraham is a highly skilled
            entrepreneur with more than 15 years experience in the telecoms
            industry and a unique blend of strong vision, technical ingenuity and salesmanship.
        </div>

        <div class="col-md-3 col-sm-6 form-group">
            <div class="imgCircle">
                <img src="~/Content/about/JacquesDuToit_profile.png" style="width: 205px; margin-left: -2px; margin-top: -15px;" />
            </div>
            <h4>Jacques du Toit</h4>

            With almost 20 years of experience in the telecoms industry, Jacques
            has successfully built and managed a number of organisations over the
            years, including Orion Telecom - South Africa's largest LCR business.
            In 2013 Jacques was appointed as CEO of Vox Telecom, having
            previously run and managed the largest division in the Group, Vox Orion.
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-md-3 col-sm-6 form-group">
            <div class="imgCircle">
                <img src="~/Content/about/GertKoen_profile.png" style="width: 210px; margin-left: -4px; margin-top: -15px;" />
            </div>
            <h4>Gert Koen</h4>

            Gert Koen obtained his BAcc (Hons) degree through the University of
            Stellenbosch in 2000 and completed his articles with Greenwoods
            Chartered Accountants, during which time he managed the audit of
            Vox Orion (Pty) Ltd (now a major subsidiary of Vox Telecom Limited).
        </div>

        <div class="col-md-3 col-sm-6 form-group">
            <div class="imgCircle">
                <img src="~/Content/about/ShaneChorley_profile.png" style="width: 202px; margin-left: -2px; margin-top: -15px;" />
            </div>
            <h4>Shane Chorley</h4>

            Shane started with Vox Telecom as an external technician, evolved with
            the business, and as Head of Carrier and Connectivity is now driving the
            improvements in Vox's network design and growing their product
            offering. Shane views optic fibre as key to building solid, fast telecoms networks.
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12" style="margin-top: 30px;">
        <div class="col-sm-7 col-md-6 col-lg-5" style="margin-top: 30px;">
            <img src="~/Content/about/kha3.png" height="300" />
        </div>
        <div class="col-sm-5 col-md-6 col-lg-7" style="margin-top: 30px;">
            <h2 style="color: green; margin-top: 0;">Empowerment</h2>
            <p>
                Frogfoot embraces the need to play a role in the
                economic and social development of our land through
                skills development and job creation. To this end,
                Frogfoot partners with the Learn to Earn organisation
                (http://www.learntoearn.org.za) in Enterprise
                Development activities.
            </p>
            <p>
                Learn to Earn is a skills development and job creation
                organisation seeking to develop people, especially
                unemployed people, socially, economically,
                emotionally and spiritually.
            </p>
            <p>
                Through their skills development and training centres, they have trained more than 9500
                unemployed people with market-related skills since 1989. They have seen over 80% of
                their graduates become economically active, with up to 11% starting their own businesses.
            </p>
            <p>
                Frogfoot is a certified Level 3 BBEEE contributor. Download the certificate <strong style="font-weight: bolder;">@Html.ActionLink("here", "BEECertificate", null, new { @style = "color: green;" })</strong>.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-5 col-md-6 col-lg-7 hidden-sm" style="text-align: right;">
            <h2 style="color: green; margin-top: 0;">Social Investment</h2>
            <p>
                The Orion Organisation (http://www.orionfriendship.org/) is a model of hope to as many as
                3,000 disabled people who have passed through its doors since its inception since 1982.
                Orion has achieved great things, thanks to the support of partners, stakeholders, donors
                and volunteers.
            </p>
            <p>
                Orion is a duly constituted Non-Profit
                Organisation and Section 21 company with Public Benefit status. The
                organisation is based in Atlantis, Western Cape, approximately 50km from the city
                of Cape Town. The organisation is dedicated to caring and providing for the
                educational, training and therapeutic needs of children, youth and adults living
                with physical, mental, intellectual and neurological disabilities.
            </p>
        </div>

        <div class="col-md-6 col-lg-5">
            <img src="~/Content/about/46_lrg.jpg" width="500" />
        </div>

        <div class="col-md-6 col-lg-7 visible-sm" style="margin-top: 30px;">
            <h2 style="color: green; margin-top: 0;">Social Investment</h2>
            <p>
                The Orion Organisation (<a href="http://www.orionfriendship.org">http://www.orionfriendship.org</a>) is a model of hope to as many as
                3,000 disabled people who have passed through its doors since its inception since 1982.
                Orion has achieved great things, thanks to the support of partners, stakeholders, donors
                and volunteers.
            </p>
            <p>
                Orion is a duly constituted Non-Profit
                Organisation and Section 21 company with Public Benefit status. The
                organisation is based in Atlantis, Western Cape, approximately 50km from the city
                of Cape Town. The organisation is dedicated to caring and providing for the
                educational, training and therapeutic needs of children, youth and adults living
                with physical, mental, intellectual and neurological disabilities.
            </p>
        </div>
    </div>
</div>






