
@{
    ViewBag.Title = "Privacy";
}

<h2 class="text-center" style="color: green;">Privacy</h2>
<div data-spy="scroll" data-target=".navbar" data-offset="200" style="position: relative">
    @*<ul class="navbar nav-stacked">
        <li><a href="#Purpose">Purpose</a> </li>
        <li><a href="#Definitions">Definitions</a> </li>
        <li><a href="#Status">Status</a> </li>
        <li><a href="#ColPersData">Collection of personal data</a> </li>
        <li><a href="#Email">Email communications</a> </li>
        <li><a href="#ColAnonData">Collection of anonymous data</a> </li>
        <li><a href="#AccPersData">Access to personal data</a> </li>
        <li><a href="#Links">Links to other websites</a> </li>
        <li><a href="#Security">Security</a> </li>
        <li><a href="#ChildPrivacy">Children's privacy</a> </li>
        <li><a href="#Queries">Queries</a> </li>
    </ul>*@
    <h3 id="Purpose">Purpose</h3>
    <p>
        1. This Policy sets out the manner in which Frogfoot Networks (Pty) Ltd (“Frogfoot”)
        handles personal information submitted by or collected from users whilst visiting the Frogfoot website(s).
    </p>


    <h3 id="Definitions">Definitions</h3>
    <p>
        “Personal Information” is as defined in the Promotion of Access to Information Act 2 of 2000 (“PAIA”).
        “the website” or “this website” refers to any part of the Frogfoot website
        (http://www.frogfoot.com/ or http://www.fibreportal.com or http://www.fibreportal.co.za and related pages)
        “user” means any person accessing any part of the website.
    </p>


    <h3 id="Status">Status</h3>
    <p>
        2. This Privacy Policy forms part of the Terms and Conditions of Use of this website.
        Continued use of this website means you agree to the provisions of this Policy and are bound by them.
    </p>

    <h3 id="ColPersData">Collection of personal data</h3>
    <p>
        3. Frogfoot only collects information necessary for the provision of fibre and internet services to
        Frogfoot customers, or necessary for the analysis of website trends and statistics.
    </p>
    <p>
        4. Frogfoot undertakes not to sell or otherwise distribute the user's personal information to third
        parties save for where provided for in the Privacy Policy and Code of Conduct.
    </p>
    <p>
        5. Frogfoot undertakes not to attempt to obtain the user's permission to distribute the user's personal data by deceit.
    </p>
    <p>
        6. Should Frogfoot no longer require the use of the data referred to above, the information will be securely deleted.
    </p>
    <p>
        7. Frogfoot neither stores nor retains any credit card information.
    </p>
    <p>
        8. Frogfoot is not responsible for the privacy practices of or the content on sites linking out of this site.
        You agree to indemnify Frogfoot against any liability arising from your access to third party sites where such
        sites are accessed via Frogfoot's network or services.
    </p>


    <h3 id="Email">Email communications</h3>
    <p>
        9. When the user sends personally identifying information to Frogfoot in an email, Frogfoot will use the
        information so provided only to meet the user's request.
    </p>
    <p>
        10. In an effort to respond to a user's request, information submitted may be viewed by various employees
        within Frogfoot and the user accordingly accepts and consents to the reasonable internal distribution of
        such personally identifying information to the extent that it enables Frogfoot to perform its obligations to the user.
    </p>
    <p>
        11. Once received, the aforementioned information contained in such emails is protected in accordance with this Policy.
    </p>


    <h3 id="ColAnonData">Collection of anonymous data</h3>
    <p>
        12.	In order to provide the best possible and most relevant service, Frogfoot may use standard technology to collect information about the use of the website. This technology is not able to identify individual users but simply allows this website to collect statistics.
    </p>
    <p>
        13. In order to do this Frogfoot may use cookies. A cookie is a small file that is placed on the user's hard drive in order to keep a record of your interaction with this website and will log:
    </p>
    <p>
        13.1. The Internet protocol (IP) address from which the user accesses the Frogfoot website. An IP address is the unique number that is automatically assigned to the computer the user is using whenever browsing the internet;
    </p>
    <p>
        13.2. The type and version of browser (such as Internet Explorer, Chrome, Safari or Mozilla Firefox) and operating system (such as Windows or MacOS) being used to access the website;
    </p>
    <p>
        13.3. The date and time when the website is accessed, for the purpose of traffic and statistical monitoring; and/or
    </p>
    <p>
        13.4. The pages visited by the user, for the purpose of improving the usefulness of the website by providing helpful links and removing pages that are not read or of interest to the user.
    </p>
    <p>
        14.	If the user does not wish cookies to be utilised, it is possible to alter the manner in which the chosen browser handles cookies. Please note that if this is done, certain services on this website may not be available or fully operational.
    </p>


    <h3 id="AccPersData">Access to personal data</h3>
    <p>
        15. If a user believes that their personal data which Frogfoot may have is outdated or incorrect, they may ask Frogfoot to correct such information by using the contact us page. It is requested that all the information needed to make the correction is provided.
    </p>
    <p>
        16. A user can also request access to any relevant personal data held by the website owner as laid out in the Promotion of Access to Information Act 2 of 2000 (“PAIA”), and where such access is necessary for the user to exercise and/or protect any of their rights The user may send such a request (at no expense to the user) through our contact us page.
    </p>



    <h3 id="Links">Links to other websites</h3>
    <p>
        17.	Frogfoot has no control over and accepts no responsibility for the privacy practices of any third party sites to which hyperlinks may have been provided, and Frogfoot strongly recommends that the user review the privacy policy of any site visited before using it further.
    </p>


    <h3 id="Security">Security</h3>
    <p>
        18. While reasonable measures are taken to ensure the security and integrity of information submitted to this website, Frogfoot may not be held liable for any loss or other damage sustained by a user as a result of the intentional or accidental release of information by an employee of the website, its owner/s, agents, subsidiaries or any third party.
    </p>
    <p>
        19. Users and/or subscribers are prohibited from releasing their username and/or password to any other person.
    </p>


    <h3 id="ChildPrivacy">Children's privacy</h3>
    <p>20.	This is a child-friendly website. Frogfoot takes the online privacy and well-being of children seriously.</p>


    <h3 id="Queries">Queries</h3>
    <p>21.	If users have any queries about this Privacy Policy, please contact us.</p>
</div>

