@{
    ViewBag.Title = "Account Deleted";
}

<h2>Account deleted</h2>

<h3>Oops... looks like your account has been deleted or suspended.</h3>

<p>If you don't know why this happened or suspect an error then please contact us:</p>
<br/>
@Html.ActionLink("Contact us", "Contact", "Contact")


