
@{
    ViewBag.Title = "Confirm Email Required";
}

<h2>Confirm Email</h2>

<p style="color: red">You have not confirmed your email yet.</p>
<p>Please click on the link that was sent to your inbox.</p>

