
@{
    ViewBag.Title = "TermsOfUse";
}

<h2 class="text-center" style="color: green; margin-bottom: 30px;">Terms Of Use</h2>

<p>Frogfoot Networks (Pty) Ltd Website Terms and Conditions of Use</p>

<h3>Definitions</h3>

<p><b> “website owner”</b> and/or <b>“we”</b> and/or <b>“the supplier”</b> and/or “Frogfoot” means Frogfoot Networks (Pty) Ltd.</p>

<p><b>“consumer”</b> means any natural person (including where such a natural person is acting is his/her capacity as a representative of a Company, Close Corporation, Trust or Partnership) who enters or intends entering into an electronic transaction with this website as the end-user of the goods or services offered by this website. </p>

<p><b>“ECT Act”</b> means the Electronic Communications and Transactions Act 25 of 2002. </p>

<p><b>“Personal Information”</b> is as defined in the Promotion of Access to Information Act 2 of 2000 (“PAIA”). </p>

<p><a name="_Toc167590682"><b>“the website”</b></a> or <b>“this website”</b> refers to any part of the Frogfoot website (<a href="http://www.frogfoot.com">http://www.frogfoot.com</a> or <a href="http://www.fibreportal.com/">http://www.fibreportal.com</a> or <a href="http://www.fibreportal.co.za/">http://www.fibreportal.co.za</a> and related pages)</p>

<p><b> “user”</b> means any person accessing any part of the website.</p>

<p><a name="_Toc359816950"></a><a name="_Toc167590683"> </a></p>

<h3>Use of this Website</h3>

<p>1. Use of this website constitutes acceptance of these Terms and Conditions of Use which thereafter constitute a binding agreement (“Agreement”) between Frogfoot and the user.</p>

<p>2. Use of this website is done so at the sole risk of the user. The user hereby indemnifies Frogfoot and its agents against damage of any nature and/or loss in general suffered as a result or arising from use of this website or services offered thereon.</p>

<p>3. Frogfoot may, in its sole discretion, amend these Terms and Conditions of Use from time to time at which time these will be brought to the attention of users and become binding on such users where they continue to use the website after such amendments have been brought to their attention. </p>

<p><a name="_Toc359816951"></a><a name="_Toc167590684"> </a></p>

<h3>Amendments to content and information</h3>

<p>4. Frogfoot expressly reserves the right in its sole discretion to affect any amendment or alteration to the content and information, including pricing and rates, set out in this website.</p>

<p>5. Users acknowledge that it is their responsibility to familiarise themselves with any amendment or alteration affected.</p>

<p><a name="_Toc359816952"></a><a name="_Toc167590685"> </a></p>

<h3>Owner information &amp; required disclosures under section 43 of the ECT Act</h3>

<p>
    Web site owner: Frogfoot Networks (Pty) Ltd.<br />
    Registered Number: 2006/011693/07<br />
    VAT Number: 4610189278<br />
    Directors: A. Van der Merwe, J. Botha, H. Van der Merwe
</p>

<p>ICASA Licences: 0165/IECNS/JAN/09 &amp; 0165/IECS/JAN/09</p>

<p>
    Cape Town Office: +27 21 448 7225<br />
    Cape Town Fax: +27 21 448 3754<br />
    Web site: <a href="http://www.frogfoot.com/">http://www.frogfoot.com</a>
</p>

<p>
    Physical Address:<br />
    Suite 302, Building 20, The Waverley Business Park, Kotzee Road, Mowbray, Cape Town, South Africa
</p>

<p>
    Postal Address:<br />
    P.O. Box 23618, Claremont, Cape Town, South Africa, 7735
</p>

<p>The web site owner is a member of the following industry representative bodies and subscribes to their respective Codes of Conduct:</p>

<p>The Internet Service Providers Association (ISPA) – for further information about ISPA please visit: <a href="http://www.ispa.org.za/">www.ispa.org.za</a> </p>

<p>The Wireless Access Providers Association (WAPA) – for further information about WAPA please visit: <a href="http://www.wapa.org.za/">www.wapa.org.za</a> </p>

<p>The ISPA and WAPA Codes of Conduct can be obtained from their websites.</p>

<h3>No offer</h3>

<p>6. Users should regard nothing contained in this website as an offer but rather as an invitation to do business. </p>

<h3>Disclaimers</h3>

<p>7. This entire website, including text, images, links, downloads and coding, is provided <b>"as is"</b> and <b>"as available"</b>. Frogfoot makes <b>no representations or warranties</b>, express or implied, including but not limited to warranties as to the correctness or suitability of either the website or the information contained in it.</p>

<p>8. Subject to Chapter 7 of the ECT Act, Frogfoot, its officers, employees, suppliers, resellers, partners, affiliates and agents, shall not be liable for any damage, loss or liability, howsoever arising, incurred by users or any other persons and resulting from the use or inability to use this website.</p>

<p>9. Subject to Chapter 7 of the ECT Act and to the fullest extent possible under the applicable law, Frogfoot disclaims all responsibility or liability for any damages, including but not limited to direct, economic, consequential loss or loss of profits, resulting from the use of this website in any manner.</p>

<p>10. Frogfoot has no control over third party content and features which may be accessed through the use of this website and does not examine or edit such content and features or act as an agent for third parties accessible through this website. As such and to the fullest possible extent permissible under law, the website owner disclaims any liability whatsoever for any loss or damage arising from the use of third party websites contents and features.</p>

<h3>Indemnity</h3>

<p>11. USERS AGREE TO INDEMNIFY AND HOLD HARMLESS FROGFOOT, ITS OFFICERS, EMPLOYEES, SERVANTS, SUBCONTRACTORS, PARTNERS, SUBSIDIARIES AND AFFILIATES FROM ANY DEMAND, ACTION OR APPLICATION OR OTHER PROCEEDINGS, INCLUDING FOR ATTORNEYS FEES AND RELATED COSTS SUCH AS TRACING FEES, MADE BY ANY THIRD PARTY AND ARISING OUT OF OR IN CONNECTION WITH THE USER'S USE OF THIS WEBSITE, THIRD PARTY WEBSITES OR ANY OF THE SERVICES OFFERED THROUGH SUCH WEBSITES IN ANY WAY, INCLUDING BUT NOT LIMITED TO THE PROVISION OF CONTENT.</p>

<h3>Consumer Rights and Security</h3>

<p>12. Consumer rights in respect of online transactions are set out in Chapter 7 of the ECT Act. A copy of the Act is available from <a href="http://www.internet.org.za/ect_act.html%20">http://www.internet.org.za/ect_act.html </a>.</p>

<p>13. Under section 42(1)(d) of the ECT Act, the cooling-off period set out in section 44 of the ECT Act does not apply in respect of services which began with the consumer's consent before the end of the seven-day period referred to in section 44(1).</p>

<p>14. Under section 42(1)(f) of the ECT Act, the cooling-off period set out in section 44 of the ECT Act does not apply in respect of goods which are made to the consumer's specifications or which are clearly personalised or which by reason of their nature cannot be returned. </p>

<p>15. Under sections 43(1) and (2) of the ECT Act, the website owner is required to disclose the information and procedures set out in these sections in respect of electronic transactions. In the event that a consumer proves that the website owner has not set out the information and procedures as required then the consumer has the right to cancel the transaction within fourteen (14) days of receiving the relevant goods or services under the transaction.</p>

<p>16. Where a transaction has been so cancelled then:</p>

<p>16.1. The consumer must return the performance of the supplier and/or immediately cease using the services performed; and</p>

<p>16.2. The supplier must refund all payments made by the consumer less the direct cost of returning the goods, if any.</p>

<p>17. Under section 43(5) of the ECT Act, the supplier must utilise a payment system that is sufficiently secure with reference to accepted technological standards at the time of the transaction and the type of transaction concerned.</p>

<p>17.1. This website does not process or store any user credit card information. At no stage is credit card information stored together with user personal information.</p>

<p>17.2. Transactions are processed through online billing. This billing is only an estimate, and only billing as reflected on official invoices will be considered to be final. </p>

<p>17.3. Transactions are processed through the Paygate payment gateway using industry standard SSL. Paygate is the approved payment gateway for Standard Bank of South Africa.</p>

<p>17.4. Paygate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) to ensure that all credit card details are sent encrypted to our merchant server. SSL encrypts information and makes it impossible for anyone to read this information while it is in transit.</p>

<p>17.5. For more information on Paygate, and to view their security certificate and security policy, visit <a href="http://www.paygate.co.za/">www.paygate.co.za</a>. </p>

<p>18. Under section 43(6) of the ECT Act, the supplier will be liable for any damage suffered by a consumer as a result of the failure to comply with section 43(5).</p>

<p>19. All prices of Frogfoot services set out on this website are VAT inclusive.</p>

<h3>Receipt of Data Messages</h3>

<p>20. Data messages, including email messages, sent by users to Frogfoot shall be deemed to be received only when acknowledged or responded to; failing which receipt shall be deemed to have occurred on the first Business Day after sending.</p>

<p>21. A data message sent by Frogfoot to users shall be regarded as received when the complete data message enters an information system designated or used for that purpose by the recipient and is capable of being retrieved and processed by the recipient.</p>

<p>22. Frogfoot reserves the right not to respond to any email or other data message which contains obscene, threatening, defamatory or otherwise illegal, unlawful or inappropriate content, and to take the appropriate action against the sender of such email where necessary.</p>

<p><a name="_Toc359816958"></a><a name="_Toc167590697"> </a></p>

<h3>Monitoring and Interception of Data Messages</h3>

<p>23. In order to provide a relevant and secure service, and where required to do so under law, the website owner may monitor and/or intercept electronic communications such as email which are sent to this website. To the full extent necessary under law, the user hereby acknowledges that he or she is aware of such potential monitoring and/or interception and consents thereto.</p>

<p><a name="_Toc359816959"></a><a name="_Toc167590700"> </a></p>

<h3>Security</h3>

<p>24. While Frogfoot takes all reasonable security precautions and subject to the provisions of the ECT Act as set out above, no liability will lie for damage caused by the malicious use of this site or by destructive data or code that is passed on to the user through the use of this site.</p>

<p>25. The following acts in connection with this website are expressly prohibited:</p>

<p>25.1. Gaining or attempting to gain unauthorised access to any web page or part of this website;</p>

<p>25.2. Delivering or attempting to deliver any unauthorised or malicious code or content to this website; and/or</p>

<p>25.3. Any amendment to or attempt to amend any of the content or any other part of this website by unauthorised persons; and/or</p>

<p>25.4. Any other unlawful interference with the proper operation of this website.</p>

<p>26. Frogfoot will pursue prosecution of and compensation from any person that delivers or attempts to deliver any destructive code to this website or attempts to gain unauthorised access to any page on or part of this website.</p>

<p><a name="_Toc359816960"></a><a name="_Toc167590701"> </a></p>

<h3>Copyright and Intellectual Property protection</h3>

<p>27. Copyright in all information, images, source codes and other original material contained in this website which is not attributed to a third party, is held by or licensed to Frogfoot.</p>

<p>28. Unless otherwise indicated, Users wishing to utilise content for their own personal or commercial purposes may only doing so with Frogfoot's prior written permission. </p>

<p>29. Any use of the content or any other part of this website must be clearly accompanied by the following: “©Frogfoot [insert year in which content is copied]. All rights reserved.” or with any such terms as may be provided by Frogfoot in its written acceptance of a request for use by a user.</p>

<p>30. If a user believes that this site in any way infringes a third party copyright or other intellectual property right, he or she may <a href="http://www.frogfoot.com/contact/">contact Frogfoot</a> specifying the full details of the alleged infringement.</p>

<h3>Privacy and Confidentiality of communications</h3>

<p>31. Further information regarding the manner in which the website owner respects the privacy of users' personal information is contained in the Frogfoot Privacy Policy. </p>

<p>32. Frogfoot may monitor interactions with this website in order to promote its secure and efficient operation. Users irrevocably agree that they consent to such monitoring as may be reasonably carried out by Frogfoot in terms of its Privacy Policy.</p>

<p><a name="_Toc359816962"></a><a name="_Toc167590703"> </a></p>

<h3>Advertising and sponsorship</h3>

<p>33. This website contains third party advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion in this website complies with all applicable laws and regulations.</p>

<p>34. Frogfoot accordingly excludes, to the fullest possible extent permissible under law, any responsibility or liability for any error or inaccuracy appearing in advertising or sponsorship material.</p>

<p><a name="_Toc359816963"></a><a name="_Toc167590707"> </a></p>

<h3>Termination of this Agreement</h3>

<p>35. Frogfoot reserves the right, in its sole and absolute discretion and without prior notification, to terminate the provision of this website and/or to terminate the access rights of any user where, for example and without limitation:</p>

<p>35.1. Frogfoot regards the action or inaction of a user to constitute a breach of these Terms and Conditions of Use;</p>

<p>35.2. Frogfoot regards the action or inaction of a user to constitute abuse of the services offered through this website; and/or</p>

<p>35.3. Events beyond Frogfoot's reasonable control, including technical failures, prevent the continuing provision of the website.</p>

<h3>Governing Law</h3>

<p>36. The user hereby agrees that the law applicable to these Terms and Conditions of Use, their interpretation and any matter or litigation in connection therewith or arising from them will be the law of the Republic of South Africa without reference to its conflicts of laws procedures.</p>

<p>37. When using this site and agreeing to these Terms and Conditions of Use, such use and agreement is deemed to have taken place in Cape Town, South Africa. </p>

<h3>Consent to Jurisdiction and Costs</h3>

<p>38. The user consents to the jurisdiction of the Magistrate's Court having jurisdiction in terms of section 28(1)(e)(iv) of the Magistrate's Court Act, as amended, in respect of any dispute flowing from the use of this website, notwithstanding the fact that the amount of the claim may exceed the jurisdiction of such Court.</p>

<p>39. Notwithstanding the above, Frogfoot may, in its own discretion, elect to proceed with any claim, application or action in the High Court of the Republic of South Africa, Western Cape High Court, Cape Town, to the extent necessary, and the user accepts such jurisdiction. </p>

<p>40. The user agrees that he or she will be liable for the legal costs, including tracing fees, on the scale as between attorney and client in respect of any legal proceedings commenced by the Frogfoot as a result of any breach of these terms and conditions or any additional terms and conditions contained on this website.</p>

<h3>Amendment of the terms and conditions of this Agreement</h3>

<p>41. Please note that, due to legal and other developments, Frogfoot may be required to amend these Terms and Conditions of Use from time to time. Please refer to the last revision date at the foot of this page.</p>

<p>42. Frogfoot will attempt to give notice of any amendments, but reserve the right to effect binding amendments, additions or deletions without notice.</p>

<h3>Enforceability of this Agreement</h3>

<p>43. Users may not cede, sub-license or otherwise transfer any rights they may have under these Terms and Conditions of Use or which may otherwise have been obtained through the use of this website.</p>

<p>44. In the event of any part of these Terms and Conditions of Use being found to be partially or fully unenforceable, for whatever reason, this shall not affect the application or enforceability of the remainder of this Agreement.</p>

<p>45. These Terms and Conditions of Use contain the record of the entire agreement between the user and Frogfoot as regards the use of this website.</p>

<p>46. Failure to enforce any provision of these Terms and Conditions of Use shall not be deemed a waiver of such provision nor of the right to enforce such provision. </p>

<p>Last updated: August 2015</p>


