
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome, FFUser!</h1>
    <p>Manage all ISP orders here.</p>
    <p>@Html.ActionLink("Orders", "Orders", null, new { @class = "btn btn-primary" } )</p>
</div>