
@{
    ViewBag.Title = "User Unconfirmed";
}

<h2>User Unconfirmed</h2>

<h4>Please verify your account email address by clicking on the <strong>confirm account</strong> link sent to your inbox.</h4>

